<div class="my-3">
    <h2 class="my-3">Of & From </h2>

    <div class="row">
        <div class="col-md-12">
            <!--  -->
            <h5>Ex - 01 (OF)</h5>
            <hr />
            <!--  -->
        </div>
        <div class="col-md-6">
            <!--  -->
            <div>
                <p class="border border-info rounded-1 bg-light py-2 px-3"><strong>Data </strong>:
                    of('Ali','Khan','Mohsin')</p>
            </div>
            <hr />
            <div id="elContainer"></div>
            <!--  -->
        </div>
        <div class="col-md-6">
            <!--  -->
            <div>
                <p class="border border-info rounded-1 bg-light py-2 px-3"><strong>Data </strong>: of( &#123;
                    a:'Ali',b:'Khan',c:'Mohsin' &#125; )</p>
            </div>
            <hr />
            <div id="">
                <p><strong>a: </strong>{{ obsMsg.a }}</p>
                <p><strong>a: </strong>{{ obsMsg.b }}</p>
                <p><strong>a: </strong>{{ obsMsg.c }}</p>
            </div>
            <!--  -->
        </div>
        <div class="col-md-12 pt-4">
            <!--  -->
            <h5>Ex - 02 (From)</h5>
            <hr />
            <!--  -->
        </div>
        <div class="col-md-4">
            <!--  -->
            <h5>Array</h5>
            <hr/>
            <div>
                <p class="border border-info rounded-1 bg-light py-2 px-3"><strong>Data </strong>:
                    from(['Ali','Khan','Mohsin'])</p>
            </div>
            <hr />
            <div id="elContainer2"></div>
            <!--  -->
        </div>
        <div class="col-md-4">
            <!--  -->
            <h5>Promise</h5>
            <hr/>
            <div>
                <p class="border border-info rounded-1 bg-light py-2 px-3"><strong>Data </strong>:
                    Promise to Observable</p>
            </div>
            <hr />
            <div id="elContainer3"></div>
            <!--  -->
        </div>
        <div class="col-md-4">
            <!--  -->
            <h5>String</h5>
            <hr/>
            <div>
                <p class="border border-info rounded-1 bg-light py-2 px-3"><strong>Data </strong>:
                    String to Observable</p>
            </div>
            <hr />
            <div id="elContainer4"></div>
            <!--  -->
        </div>
        
    </div>


</div>