<div class="my-3">
    <h2 class="my-3">From Event </h2>

    <div class="row">
        <div class="col-md-4">
            <!--  -->
            <div class="card shadow border-info">
                <div class="card-header">
                    <h5>Add Video</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex  justify-content-start">
                        <button #addBtn class="btn btn-info">
                           Add
                        </button>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <div class="col-md-4">
             <!--  -->
             <div class="card shadow border-info">
                <div class="card-header">
                    <h5>List</h5>
                </div>
                <div class="card-body">
                    <div id="elContainer" >
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <div class="col-md-4">
             <!--  -->
             <div class="card shadow border-info">
                <div class="card-header">
                    <h5>List</h5>
                </div>
                <div class="card-body">
                    <div id="elContainer2" >
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>


</div>