<div class="my-3"  style.color={{myColor}} >
    <h2 >Tap</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 01</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="dContainer">

                </ul>
                <!-- <strong>Pluck</strong> by property -->
            </div>
            <!-- <br>
            <p><strong class="">Name</strong></p>
            <div *ngFor="let i of msg1">
                {{i}}
            </div> -->
        </div>
        <div class="col-md-6">
            <strong>Ex - 02</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="dContainer2">

                </ul>
                <!-- <strong>Pluck</strong>  by pluck -->
            </div>
            <!-- <br>
            <p><strong class="text-success">Name</strong></p>
            <div *ngFor="let i of msg2">
                {{i}}
            </div> -->
        </div>
        
    </div>

</div>