<div class="my-3">
    <h2 class="my-3">Interval & Timer </h2>

    <div class="row">
        <div class="col-md-4">
            <!--  -->
            <div class="card shadow border-info">
               <div class="card-header">
                   <h5>List</h5>
               </div>
               <div class="card-body">
                   <div id="elContainer" >
                   </div>
               </div>
           </div>
           <!--  -->
       </div>
        <div class="col-md-4">
             <!--  -->
             <div class="card shadow border-info">
                <div class="card-header">
                    <h5>List</h5>
                </div>
                <div class="card-body">
                    <div id="elContainer2" >
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <div class="col-md-4">
             <!--  -->
             <div class="card shadow border-info">
                <div class="card-header">
                    <h5>List</h5>
                </div>
                <div class="card-body">
                    <div id="elContainer3" >
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>


</div>