<div class="my-3" ><!-- style.color={{myColor}} -->
    <h2 >Take, TakeLast & TakeUntill</h2>
    <br>

    <div class="row pb-4">
        <div class="bg-light py-2 px-3 border rounded">Random Name: 'Mohsin', 'khan', 'Ali', 'Qasim', 'Mustaqeem', 'Mathar' </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01  Take(4)</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="elContainer">

                </ul>
                <!-- <strong>Pluck</strong> by property -->
            </div>
            <!-- <br>
            <p><strong class="">Name</strong></p>
            <div *ngFor="let i of msg1">
                {{i}}
            </div> -->
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 TakeLast (3)</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="dlContainer">

                </ul>
                <!-- <strong>Pluck</strong>  by pluck -->
            </div>
            <!-- <br>
            <p><strong class="text-success">Name</strong></p>
            <div *ngFor="let i of msg2">
                {{i}}
            </div> -->
        </div>
        <div class="col-md-2">
            <strong>Ex - 03 TakeUntill (condition)</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="clContainer">

                </ul>
                <!-- <strong>Pluck</strong>  by pluck -->
            </div>
            <!-- <br>
            <p><strong class="text-success">Name</strong></p>
            <div *ngFor="let i of msg2">
                {{i}}
            </div> -->
        </div>
        <div class="col-md-2">
            <strong>Ex - 04 TakeUntill (from-event)</strong>
            <hr>
            <div class="bg-light py-2 px-3 border rounded">
                <ul id="flContainer">

                </ul>
                <!-- <strong>Pluck</strong>  by pluck -->
            </div>
            <!-- <br>
            <p><strong class="text-success">Name</strong></p>
            <div *ngFor="let i of msg2">
                {{i}}
            </div> -->
        </div>
        
    </div>

</div>