<div class="my-3"><!-- style.color={{myColor}} -->
    <h2>Subject & Behaviour Subject </h2>
    <hr />
    <br>
    
    <h3 >Username is<span class="text-warning">  {{ subjectData }} </span></h3>
    <hr />
    <br>



    <div class="row">
        <div class="col-md-4">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-4">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-4">
            <app-comp3></app-comp3>
        </div>
    </div>

</div>